extends layout 
 
block content 
  h1= title 
 
  form(id='ElephantForm', action="/resource/elephants", method="POST") 
    div.form-group 
        label.elephantAttr(for='elephant_type') Elephant type 
        input#elephant_type(type='text', name='elephant_type') 
    div.form-group 
        label.elephantAttr(for='elephant_age_limit') elephant_age_limit
        input#elephant_age_limit(type='number', name='elephant_age_limit') 
    div.form-group 
        label.elephantAttr(for='elephant_weight') elephant_weight 
        input#cost(type='number', name='elephant_weight') 
    input(type="submit") 
 
  script. 
    document.forms['ElephantForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 