body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.elephantAttr { 
  background-color: aquamarine; 
  width: 120px; 
} 
.elephantStyle { 
  background-color: rgb(71, 39, 187); 
  width: 150px; 
  text-shadow: 1px,1px,1px;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
} 

